__pycache__/
venv/
bash/
visualizations/
outputs/
data/
ckpt/
build
bioscanclip.egg-info
html_plots
extracted_embedding
Fine-Grained-ZSL-with-DNA
representation_visualization*
logs/retrieval

image_retrieval

.build/
.env
.slurmignore
slurm/
*.sif
.vscode